body{
    background-color: #402B18;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

h1{
    color: #BF8339;
    text-align: center;
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

a.hover{
    text-decoration: none;
    color: White;
}

.assign{
    background-color: #8C501B;
    margin: 10px;
    padding: 10px;
    display: block;
    border-radius: 20px;
    width: 20%;
    box-shadow: 8px 8px white;
}

.assign img{
    width: 200px;
    margin: 10px;
    border: 2px solid #59514C;
}

.assign img:hover{
    width: 200px;
    margin: 10px;
    border: 2px solid White;
}
 
